

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Shortener part */
.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p {
  color: rgb(0, 0, 0);
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.result button.copied {
  background: white;
  color: var(--primary-color);
}


/* Input Button */

.inputContainer h1 {
  font-size: 3.5rem;
  color: white;
  margin-bottom: 1.5rem;
}

.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  
  
}

.inputContainer input::placeholder {
  font-size: 0.9rem;
}

.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color:white;
  background-color: rgb(37, 41, 38);
  border: none;
  cursor: pointer;
  &:hover {
    color: rgba(255, 255, 255, 0.582);
    background-color: rgb(30, 36, 31);
  }
}





/* history */
.history h3 {
  font-size: 1rem;
  color: white;
  margin-bottom: 1.5rem;
}

.history p{
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
}